@import '../../../App.scss';

.timer,
.timerLow {
  text-align: center;
  font-size: 8rem;
  order: 0;
}

.timerLow {
  color: $red;
}

.timerBtn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
