@import '../../../App.scss';

.timer,
.timerLow {
  text-align: center;
  font-size: 8rem;
  order: 0;
}

.timerLow {
  color: $red;
}

.timerBtn {
  display: block;
  padding: 1rem;
  font-size: 1.5rem;
  margin: 0 auto 4rem auto;
  text-align: center;
}
