@import 'custom';

// Variables //
$white: #fffef5;
$gray-black: #313131;
$highlight: #ffcb13;
$red: #ff8484;

/* Globals */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-size: 100%;
  font-family: 'Roboto Mono', monospace;
  color: $white;
  background-color: $gray-black;
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.highlight {
  background-color: yellow;
}

// popup:   font-family: 'Rubik', sans-serif !important;
