@import 'custom';

// Variables //
$white: #fffef5;
$gray-black: #313131;
$highlight: #ffcb13;
$red: #ff8484;
$opaque-red: #ff84848e;

/* Globals */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-size: 100%;
  font-family: 'Roboto Mono', monospace;
  color: $white;
  background-color: $gray-black;
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

mark {
  background-color: transparent;
  padding: 0;
}

.centerWrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: -4%;
  order: 1;
}
